### Imports

In [1]:
import requests
from writeHelpers import *
from helpers import callApi
from IPython.display import JSON,display
pd.set_option('display.max_colwidth', None)

### Constants

In [2]:
config = {
    "URL" : "http://localhost:8080",
#     "URL":"https://integrate.rootfi.dev/api/v2",
    "HEADERS": {
        "api_key":"w7qR6kqLlARpnqgD45VeszVo3nW2",
#          "api_key":"53f8db7e-20e1-41dc-8900-1366b2fd7f2a",
        "Accept":"application/json"
    },
    "org_id" : 1    
}

In [3]:
run_for_datamodels = [
    "ACCOUNTS", 
    "BANK_ACCOUNTS", 
    "BANK_TRANSACTIONS",
    "CONTACTS",
    "INVOICES",
    "INVOICE_PAYMENTS",
    "INVOICE_CREDIT_NOTES", 
    "BILLS",
    "BILL_PAYMENTS",
    "BILL_CREDIT_NOTES",
    "ITEMS" ,
    "EXPENSES",
    "JOURNAL_ENTRIES",   
    "PURCHASE_ORDERS", 
    "SALES_ORDERS", 
    "TAX_RATES"
]
run_for_integrations = [
    "ZOHO_BOOKS",
#     "XERO",
#     "QUICKBOOKS_SANDBOX",
#     "QUICKBOOKS",
#     "SAGE_CLOUD_ACCOUNTING",
#     "MS_DYNAMICS_365",
#     "NETSUITE",
#     "ODOO_ACCOUNTING",
#     "WAFEQ",
#     "WAVE",
#     "MEKARI_JURNAL"
]

### Get supported fields list

In [4]:
supported_fields = callApi(config["URL"]+"/get_supported_fields", data={}, reqHeaders={}, reqParams={})
supported_fields = supported_fields["data"]["create_supported_fields"]

### Run Test Cases

In [5]:
df = runTestCase(run_for_datamodels,run_for_integrations,supported_fields,config)
display(df.head(50))

query:  SELECT platform_id from currencies WHERE rootfi_company_id = 783  and is_base_currency = 'true' LIMIT 1
query:  SELECT platform_id from currencies WHERE rootfi_company_id = 783  and is_base_currency = 'true' LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'cash' LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'bank' LIMIT 1
query:  SELECT platform_id from contacts WHERE rootfi_company_id = 783  and status = 'ACTIVE' and contact_type = 'CUSTOMER' LIMIT 1
query:  SELECT platform_id from currencies WHERE rootfi_company_id = 783  and is_base_currency = 'true' LIMIT 1
query:  SELECT platform_id from contacts WHERE rootfi_company_id = 783  and contact_type = 'CUSTOMER' and status = 'ACTIVE' LIMIT 1
query:  SELECT platform_id from items WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from tax_rates WHERE rootfi_company_id = 783  and tax_type = 'igst' LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'other_current_liability' LIMIT 1
query:  SELECT platform_id from tracking_categories WHERE rootfi_company_id = 783  LIMIT 1
query:
                    SELECT
                        invoices.* from invoices
                    INNER JOIN contacts ON invoices.contact_id = contacts.platform_id
                    WHERE invoices.rootfi_company_id = 783  and contacts.status = 'ACTIVE'
                     AND invoices.amount_due > 2
                     AND invoices.status != 'VOID'
                    LIMIT 1

query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'bank' LIMIT 1
query:
                    SELECT
                        invoices.* from invoices
                    INNER JOIN contacts ON invoices.contact_id = contacts.platform_id
                    WHERE invoices.rootfi_company_id = 783  and contacts.status = 'ACTIVE'

                     AND invoices.status != 'VOID'
                    LIMIT 1

query:  SELECT platform_id from items WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from tax_rates WHERE rootfi_company_id = 783  and raw_data ->> 'tax_type' = 'tax_group' LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'cost_of_goods_sold' LIMIT 1
query:  SELECT platform_id from tracking_categories WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from contacts WHERE rootfi_company_id = 783  and contact_type = 'VENDOR' LIMIT 1
query:  SELECT platform_id from items WHERE rootfi_company_id = 783  and is_bill_item = 'true' and is_invoice_item = 'true' LIMIT 1
query:  SELECT platform_id from tax_rates WHERE rootfi_company_id = 783  and tax_type = 'igst' LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'other_current_liability' LIMIT 1
query:  SELECT platform_id from tracking_categories WHERE rootfi_company_id = 783  LIMIT 1
query:
                    SELECT
                        bills.* from bills
                    INNER JOIN contacts ON bills.contact_id = contacts.platform_id
                    WHERE bills.rootfi_company_id = 783  and contacts.status = 'ACTIVE'
                     AND bills.amount_due > 2
                     AND bills.status != 'VOID'
                    LIMIT 1

query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'bank' LIMIT 1
query:
                    SELECT
                        bills.* from bills
                    INNER JOIN contacts ON bills.contact_id = contacts.platform_id
                    WHERE bills.rootfi_company_id = 783  and contacts.status = 'ACTIVE'

                     AND bills.status != 'VOID'
                    LIMIT 1

query:  SELECT platform_id from items WHERE rootfi_company_id = 783  and raw_data->>'item_type' = 'sales_and_purchases' LIMIT 1
query:  SELECT platform_id from tax_rates WHERE rootfi_company_id = 783  and tax_type = 'igst' LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'cost_of_goods_sold' LIMIT 1
query:  SELECT platform_id from tracking_categories WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'cost_of_goods_sold' LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and category = 'INCOME' LIMIT 1
query:  SELECT platform_id from currencies WHERE rootfi_company_id = 783  and is_base_currency = 'true' LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'cost_of_goods_sold' LIMIT 1
query:  SELECT platform_id from contacts WHERE rootfi_company_id = 783  and status = 'ACTIVE' and contact_type = 'VENDOR' LIMIT 1
query:  SELECT platform_id from items WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from tax_rates WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'cost_of_goods_sold' LIMIT 1
query:  SELECT platform_id from tracking_categories WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from contacts WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from tracking_categories WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from contacts WHERE rootfi_company_id = 783  LIMIT 1
query:  SELECT platform_id from tracking_categories WHERE rootfi_company_id = 783  LIMIT 1
query:
                    SELECT
                        bills.* from bills
                    INNER JOIN contacts ON bills.contact_id = contacts.platform_id
                    WHERE bills.rootfi_company_id = 783  and contacts.status = 'ACTIVE'

                     AND bills.status != 'VOID'
                    LIMIT 1

query:  SELECT platform_id from items WHERE rootfi_company_id = 783  and raw_data->>'item_type' = 'sales_and_purchases' LIMIT 1
query:  SELECT platform_id from tax_rates WHERE rootfi_company_id = 783  and tax_type = 'igst' LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'cost_of_goods_sold' LIMIT 1
query:  SELECT platform_id from tracking_categories WHERE rootfi_company_id = 783  LIMIT 1
query:
                    SELECT
                        invoices.* from invoices
                    INNER JOIN contacts ON invoices.contact_id = contacts.platform_id
                    WHERE invoices.rootfi_company_id = 783  and contacts.status = 'ACTIVE'

                     AND invoices.status != 'VOID'
                    LIMIT 1

query:  SELECT platform_id from items WHERE rootfi_company_id = 783  and raw_data->>'item_type' = 'sales_and_purchases' LIMIT 1
query:  SELECT platform_id from tax_rates WHERE rootfi_company_id = 783  and raw_data ->> 'tax_type' = 'tax_group' and raw_data->>'tax_specific_type' = '' LIMIT 1
query:  SELECT platform_id from accounts WHERE rootfi_company_id = 783  and sub_category = 'cost_of_goods_sold' LIMIT 1
query:  SELECT platform_id from tracking_categories WHERE rootfi_company_id = 783  LIMIT 1
✅ Finished. 3 test cases failed!

,integration,datamodel,status,message
0,ZOHO_BOOKS,ACCOUNTS,✅ Passed!,
1,ZOHO_BOOKS,BANK_ACCOUNTS,✅ Passed!,
2,ZOHO_BOOKS,BANK_TRANSACTIONS,✅ Passed!,
3,ZOHO_BOOKS,CONTACTS,✅ Passed!,
4,ZOHO_BOOKS,INVOICES,✅ Passed!,
5,ZOHO_BOOKS,INVOICE_PAYMENTS,✅ Passed!,
6,ZOHO_BOOKS,INVOICE_CREDIT_NOTES,✅ Passed!,
7,ZOHO_BOOKS,BILLS,✅ Passed!,
8,ZOHO_BOOKS,BILL_PAYMENTS,❌ Failed!,"{'code': 28011, 'message': 'The amount entered is more than the balance due for the selected bills.'}"
9,ZOHO_BOOKS,BILL_CREDIT_NOTES,✅ Passed!,
10,ZOHO_BOOKS,ITEMS,❌ Failed!,"{'code': 57, 'message': 'You are not authorized to perform this operation'}"
11,ZOHO_BOOKS,EXPENSES,✅ Passed!,
12,ZOHO_BOOKS,JOURNAL_ENTRIES,✅ Passed!,
13,ZOHO_BOOKS,PURCHASE_ORDERS,✅ Passed!,
14,ZOHO_BOOKS,SALES_ORDERS,✅ Passed!,
15,ZOHO_BOOKS,TAX_RATES,❌ Failed!,"{'code': 57, 'message': 'You are not authorized to perform this operation'}"